<div class="w3-container" id="about">
  <div class="w3-content">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide"><%= t ".about_blog"%></span></h5>
    <p><%= t ".des"%></p>
    <p><%= t ".des_behave" %></p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i><%= t ".quotes" %></i></p>
      <p><%= t ".author_quotes" %></p>
    </div>
    <div class="parents">
      <%= link_to image_tag "help.jpg", alt: "Rails logo", class: "image_help" %>
    </div>
  </div>
</div>
