<div class="media" id= "root-comment-<%= comment.id %>">
  <a class="pull-left" href="<%= user_path(comment.user) %>">
    <%= image_tag comment.user.avatar_url.to_s, class: "image_cm" %>
  </a>
  <div class="media-body" id = "comment-<%= comment.id %>">
    <span class="media-heading"><%= link_to comment.user.username, comment.user %>
      <small><%= t(".commented") + " " + time_ago_in_words(comment.created_at) +
        " " + t(".ago") %></small>
    </span>
    <div id = "content-<%= comment.id %>">
      <p><%= comment.content %></p>
    </div>
    <% if comment.parent? and logged_in? %>
      <%= link_to t(".reply"), new_reply_comment_path(comment), remote: true,
        id: "comment-#{comment.id}" %>
    <% end %>
    <% if comment.user.current_user? current_user %>
      <%= link_to t(".edit"), edit_comment_path(comment), remote: true %>
      <%= link_to t(".delete"), comment, method: :delete,
        data: {confirm: t(".confirm")}, remote: true %>
    <% end %>
    <hr>
    <%= render comment.replies if comment.replies.any? %>
  </div>
</div>
