<% provide :title, @user.username %>
<div class="row col-md-12">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-10">
        <span>
          <%= image_tag @user.avatar_url.to_s, class: "avatar" %>
        </span>
        <span class="name-user"><%= @user.username %></span>
      </div>
    </div>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
    <%= render "follow_form" if user_signed_in? %>
  </div>
  <div class="col-md-8">
    <p class="title-favorite"><%= t ".favorite"%></p>
    <%= render "list_favorites" %>
  </div>
</div>
<div class="row col-md-12">
  <div class="read">
    <p class="title"><%= t ".reading"%></p>
    <%= render "list_read" %>
  </div>
</div>
