<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.following_by(@following_by).count %>
    </strong>
    <%= t ".following" %>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.following_by(@following_by).count %>
    </strong>
    <%= t ".followers" %>
  </a>
  <br>
  <a href="<%= following_author_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.follower_author(@follower_author).count %>
    </strong>
    <%= t ".following_author" %>
  </a>
</div>
