<% provide :title, t(".title") %>
<h2><%= t ".your_order" %></h2>
<div class="row full-screen">
  <% if @orders %>
    <div class="order-summary">
      <table class="table">
        <thead>
          <tr>
            <th><%= t ".stt" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".total" %></th>
            <th><%= t ".date" %></th>
            <th colspan="3"><%= t ".active" %></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each_with_index do |order, index| %>
            <tr>
              <td>
                <%= create_index params[:page], index,
                  Settings.user.per_page %>
              </td>
              <td><%= order.order_details.sum(:quantity) %></td>
              <td><%= order.total %></td>
              <td><%= l(order.created_at, formats: :default) %></td>
              <td><%= link_to t(".detail"), order, class: "btn btn-success" %></td>
              <td>
                <div class="order-col" id="order-<%= order.id %>">
                  <%= render partial: "cancel", locals: {order: order} %>
                </div>
              </td>
              <td><%= order.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
	  <p><%= t ".p" %></p>
  <% end %>
</div>
