<% provide :title, t(".title") %>
<h2><%= t ".your_order" %></h2>

<div class="row full-screen">
  <% if @orders %>
    <div class="order-summary">
	    <% @orders.each do |order| %>
        <table class="table table-hover">
          <tr><%= order.status%></tr>
          <thead class="thead-dark">
            <tr>
              <td><%= t ".book" %></td>
              <td><%= t ".quantity" %></td>
              <td><%= t ".total" %></td>
            </tr>
          </thead>
          <tbody>
            <% order.order_details.each do |detail| %>
              <tr>
                <td><%= load_item(detail.book_id).name %></td>
                <td><%= detail.quantity %></td>
                <td><%= total_each_order_detail(detail) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>  
        <div class="order-col" id="order-<%= order.id %>">
          <%= render partial: "cancel", locals: {order: order} %>
        </div>
	    <% end %>
    </div>
  <% else %>
	  <p><%= t ".p" %></p>
  <% end %>
</div>
