<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <%= image_tag book.image_url, atl: "image_book", class: "book", style: "height: 18rem;"%>
    <div class="caption">
      <p><%= link_to book.name.truncate(20), book %></p>
      <p class="price">
        <%= book.price %> <%= t ".$" %>
        <%= link_to t(".add_cart"), add_cart_path(book), class: "btn btn-primary" %>
      </p>
      <span class="glyphicon glyphicon-thumbs-up"></span> <%= book.likes.count %> <%= t ".like" %>&nbsp;
      <span class="glyphicon glyphicon-comment"></span> <%= book.comments.count %> <%= t ".comment" %>
    </div>
  </div>
</div>
