<%= search_form_for @search_books, url: books_path do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.label :name_or_description %>
      <%= f.search_field :name_or_description_cont, class: "form-control" %>
    </div>
    <div class="col-sm-3">
      <%= f.label :categories %>
      <%= f.select :category_id_start, options_for_select(@categories
        .map{|key, value| [key, value]}), {include_blank: true},
        {class: "chosen-select form-control"} %>
    </div>
    <div class="col-sm-3">
      <%= f.label :price %>
      <div class="row">
        <div class="col-sm-5">
          <%= f.number_field :price_gteq, pattern: "[0-9]*", class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <%= f.label :price_lteq, "-"%>
        </div>
        <div class="col-sm-5">
          <%= f.number_field :price_lteq, pattern: "[0-9]*", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <%= submit_tag t(".search"), name: nil, class: "search btn btn-info" %>
    </div>
  </div>
<% end %>
