<%= form_tag books_path, method: "get", enforce_utf8: false do %>
  <div class="form-group top_search">
    <div class="input-group col-sm-12">
      <div class="col-md-6">
        <%= text_field_tag :search_name, params[:search_name], class: "form-control" %>
      </div>
      <div class="col-md-3">
        <select name="category_id" class="form-control">
          <option value=""></option>
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.title %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-3">
        <%= submit_tag t(".search"), name: nil, class: "btn btn-info" %>
      </div>
    </div>
  </div>
<% end %>
