<% provide :title, t(".title") %>
<%= render "search" %>
<% if !@book_as_max_like.nil? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t ".like_max" %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <%= render @book_as_max_like %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title"><%= t ".read_max" %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <%= render @book_as_max_reading %>
      </div>
    </div>
  </div>
<% else %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t ".all" %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <%= render @books %>
      </div>
    </div>
  </div>
<% end %>
