<% provide :title, t(".title") %>
<div class="owl-carousel owl-theme">
  <% @book_carousel.each do |book| %>
    <div class="item">
      <%= image_tag book.image_url, class: "img-responsive" %>
      <span class="name-book"><%= link_to book.name, book %></span>
      <div class="cart">
        <span class="price"><%= book.price %><%= t ".$" %></span>
        <% if user_signed_in? && !current_user.admin? %>
          <%= link_to add_cart_path(book) do %>
            <i class="glyphicon glyphicon-shopping-cart"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br/>
<%= render "search" %>
<br/>
<div class="panel-body">
  <div class="read">
    <p class="title"><%= t ".all"%></p>
  </div>
  <div class="row">
    <%= render @books %>
  </div>
  <%= paginate @books, theme: "twitter-bootstrap-3" %>
</div>
<div class="panel-body">
  <div class="read">
    <p class="title"><%= t ".like"%></p>
    <div class="row">
      <% @book_as_favorites.each do |book_favorite| %>
        <div class="col-md-3">
          <div class="index-book">
            <%= image_tag book_favorite.image_url, class: "avatar_read" %>
            <div class="content-book">
              <%= link_to book_favorite.name, book_favorite %>
            </div>
            <div class="like-comment">
              <%= book_favorite.likes.count %>
              <%= image_tag("like.png", class: "icon") %>
              <%= book_favorite.comments.count %>
              <%= image_tag("comment.png", class: "icon") %><br/>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @book_as_favorites, theme: "twitter-bootstrap-3" %>
  </div>
</div>
<div class="panel-body">
  <div class="read">
    <p class="title"><%= t ".read"%></p>
    <div class="row">
      <% @book_as_max_reading.each do |book_reading| %>
        <div class="col-md-3">
          <div class="index-book">
            <%= image_tag book_reading.image_url, class: "avatar_read" %>
            <div class="content-book">
              <%= link_to book_reading.name, book_reading %>
            </div>
            <div class="like-comment">
              <%= book_reading.likes.count %>
              <%= image_tag("like.png", class: "icon") %>
              <%= book_reading.comments.count %>
              <%= image_tag("comment.png", class: "icon") %></br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @book_as_max_reading, theme: "twitter-bootstrap-3" %>
  </div>
</div>
