<% provide :title, @book.name %>
<div class="row">
  <div class="col-sm-6">
    <div class="item active">
      <%= image_tag @book.image_url, class: "show-book" %>
    </div>
    <div class="rate-book">
      <% if current_user %>
        <span>
          <%= t ".level" %> <%= rating_for @book, "rating",
            stars: Settings.rate.stars, disable_after_rate: false,
            half_show: false %>
        </span>
      <% end %>
    </div>
    <p class="marks"><%= t ".mark" %></p>
    <% if current_user.present? %>
      <div class="row">
        <div class="mark-form col-sm-2">
          <%= render "mark_books/mark_book", mark_book: @mark_book %>
        </div>
        <div class="favorite_form col-sm-2">
          <%= render "favorite_form" %>
        </div>
      </div>
    <% end %>
    <br/>
    <% if user_signed_in? && !current_user.admin? %>
      <div class="add-to-cart">
        <span class="price"><%= @book.price %> <%= t ".$" %></span>
        <%= link_to link_to t(".add_cart"), add_cart_path(@book),
          class: "btn btn-primary" %>
      </div>
      <div class="share-book">
        <%= social_share_button_tag @book.name, url: book_path(@book),
          desc: @book.name %>
      </div>
    <% end %>
    <hr>
    <%= render "like_form" %>
  </div>
  <div class="col-sm-6">
    <div class="title">
      <span class="title-book"><%= @book.name %></span>
    </div>
    <div class="description">
      <div class="author-book">
        <i><%= t ".by" %>
        <% @authors.each do |author| %>
          <%= author.name %>,
        <% end %>
        </i>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= t ".level" %>
          <%= @book.average("rating").present? ? @book.average("rating").avg : 0 %> -
          <%= @book.rates("rating").count %>
        </div>
        <div class="col-sm-3">
          <a href="<%= follower_books_book_path(@book) %>">
            <strong id="followers_book" class="stat">
              <%= @book.follower_books.count %>
            </strong>
            <%= t ".followers" %>
          </a>
        </div>
        <div class="col-sm-2">
          <%= render "follow_form" if user_signed_in? %>
        </div>
      </div>
      <hr>
      <%= @book.description %>
    </div>
  </div>
</div>
<h3><%= t ".comment" %> (<%= @book.comments.count %>)</h3>
<%= render "comment_form" %>
<br/>
<div class="comment"></div>
<%= render @comments %>
