<% provide :title, @book.name %>
<div class="row">
  <div class="col-sm-6">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag @book.image_url, class: "show-book" %>
      </div>
    </div>
    <div class="rate-book">
      <% if current_user %>
        <span>
          <%= t ".level" %> <%= rating_for @book, "rating",
            stars: Settings.rate.stars, disable_after_rate: false,
            half_show: false %>
        </span>
      <% end %>
    </div>
    <p class="marks"><%= t ".mark" %></p>
    <% if current_user.present? %>
      <div class="row">
        <div class="mark-form col-sm-2">
          <%= render "mark_books/mark_book", mark_book: @mark_book %>
        </div>
        <div class="favorite_form col-sm-2">
          <%= render "favorite_form" %>
        </div>
      </div>
    <% end %>
    <br>
    <% if user_signed_in? && !current_user.admin? %>
      <div class="add-to-cart">
        <%= link_to link_to t(".add_cart"), add_cart_path(@book), class: "btn btn-primary" %>
      </div>
    <% end %>
    <hr>
    <%= render "like_form" %>
  </div>
  <div class="col-sm-6">
    <div class="title">
      <span class="title-book"><%= @book.name %></span>
    </div>
    <div class="description">
      <%= t ".level" %>
      <%= @book.average("rating").present? ? @book.average("rating").avg : 0 %> -
      <%= @book.rates("rating").count %>
      <hr>
      <%= @book.description %>
    </div>
  </div>
</div>
<h3><%= t ".comment" %> (<%= @book.comments.count %>)</h3>
<%= render "comment_form" %>
</br>
<div class="comment"></div>
<%= render @comments %>
