<% provide :title, @book.name %>
<div class="row">
  <div class="col-sm-6">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag @book.image, class: "show-book" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="title">
      <span class="title-book"><%= @book.name %></span>
    </div>
    <div class="description">
      <%= @book.description %>
    </div>
  </div>
</div>
<h3><%= t ".comment" %> (<%= @book.comments.count %>)</h3>
<div class="row">
  <%= render "comment_form" %>
</div>
<div class="comment"></div>
<%= render @comments %>

