<p><%= t ".hello" %> <%= @resource.email %>!</p>

<p><%= t ".p_ask" %></p>

<p><%= link_to t(".changed"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".p_request" %></p>
<p><%= t ".p_changed" %></p>
